# Data Science Tools and Ecosystem

 In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Demonstrate the use of markdown cells with multiple formats
- Display the use of code cells and how they can be integrated within a Jupyter Notebook
- List popular languages, libraries, and tools that are used among Data Scienties

Some of the popular languages that Data Scientists use are:
1. SQL
2. Python
3. R Studio

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Matplotlib
3. NumPy

| Data Science Tools |
| ------------------ |
| MySQL |
| PostgreSQL |
| Apache CouchDB |

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
# This is a simple arithmetic expression to multiply and add integers
(3*4)+5

17

In [14]:
# This will convert 200 minutes to hours by dividing by 60
hour = 60;
200/hour

3.3333333333333335

## Author
Ivan Shikhelman